# Set update schedule for GitHub Actions

version: 2
updates:

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every weekday
      interval: "daily"
      time: "00:00"
      timezone: "Europe/London"
  
  - package-ecosystem: "terraform"
    directory: "/dummy_terraform/"
    schedule:
      interval: "daily"
      time: "23:00"
      timezone: "Europe/London"
